/* .header {
  position: absolute;
  width: 80%;
  height: 245px;
  left: 10%;
  top: 311px;
  font-size: 6.66vw;
  font-family: 'Misto';
  color: white;
  text-align: center;
  line-height: 6.68vw;
}
.header2 {
  position: absolute;
  width: 34.5%;
  height: 188px;
  left: 32.9%;
  top: 556px;
  font-size: 1.66vw;
  font-family: 'Conv_10710';
  color: white;
  text-align: center;
  line-height: 2.43vw;
} */
