html {
  background: #090909;
  display: block;
  height: 2000px;
}
@font-face {
    font-family: 'Misto';
    src: url('fonts/Misto.eot');
    src: url('fonts/Misto.eot') format('embedded-opentype'),
         url('fonts/Misto.woff2') format('woff2'),
         url('fonts/Misto.woff') format('woff'),
         url('fonts/Misto.ttf') format('truetype'),
         url('fonts/Misto.svg#Misto') format('svg');
}
@font-face {
  font-family: 'Conv_10710';
  src: url('fonts/10710.eot');
  src: local('☺'), url('fonts/10710.woff') format('woff'), url('fonts/10710.ttf') format('truetype'), url('fonts/10710.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  .forbody {
    background: #090909;
    transition: 1s;
  }
  /* .picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 4424px;
    background: url(images/example.png);
    opacity: .2;
  } */
  .header {
    position: absolute;
    width: 80%;
    height: 245px;
    left: 13%;
    top: 311px;
    font-size: 7vw;
    font-family: 'Misto';
    color: white;
    text-align: center;
    line-height: 6.68vw;
  }
  .header2 {
    position: absolute;
    width: 48.5%;
    height: 188px;
    left: 28.9%;
    top: 506px;
    font-size: 2.2vw;
    font-family: 'Conv_10710';
    color: white;
    text-align: center;
    line-height: 2.43vw;
  }
  .fix {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #090909;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  .logo {
    position: absolute;
    width: 81px;
    height: 42px;
    left: 4.5%;
    top: 32px;
    transition: .5s;
  }
  .logo:hover {
    opacity: .4;
    transition: .1s;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .About {
    position: absolute;
    width: 13%;
    height: 20px;
    left: 14.5%;
    top: 41px;
    transition: .5s;
  }
  .About:hover {
    opacity: .4;
    transition: .1s;
  }
  .list {
    position: absolute;
    width: 14.3%;
    height: 27px;
    left: 24.3%;
    top: 41px;
  }
  .found {
    position: absolute;
    width: 12.5%;
    height: 27px;
    left: 38.4%;
    top: 41px;
    transition: .5s;
  }
  .found:hover {
    opacity: .4;
    transition: .1s;
  }
  .skill {
    position: absolute;
    width: 15%;
    height: 27px;
    left: 53%;
    top: 41px;
    transition: .5s;
  }
  .skill:hover {
    opacity: .4;
    transition: .1s;
  }
  .choose {
    position: absolute;
    width: 13%;
    height: 27px;
    left: 70.2%;
    top: 41px;
    transition: .5s;
  }
  .choose:hover {
    opacity: .4;
    transition: .1s;
  }
  .choose2 {
    position: absolute;
    width: 11.9%;
    height: 27px;
    left: 86.5%;
    top: 41px;
    transition: .5s;
  }
  .choose2:hover {
    opacity: .4;
    transition: .1s;
  }
  .burger {
    display: none;
  }
  .back {
    display: none;
  }
  a {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
    transition: .5s;
  }
  a:hover {
    opacity: .4;
    transition: .1s;
  }
  .wordG {
    position: absolute;
    width: 120px;
    height: 117px;
    left: 87.15%;
    top: 162px;
  }
  .wordW {
    position: absolute;
    width: 102px;
    height: 79px;
    left: 81px;
    top: 567px;
  }
  .wordR {
    position: absolute;
    width: 232.73px;
    height: 166.64px;
    left: 103px;
    top: 565px;
    transform: rotate(-19.56deg);
  }
  .Arrow {
    position: absolute;
    width: 40px;
    height: 55px;
    left: 51%;
    top: 717px;
  }
  .wordЙ {
    position: absolute;
    width: 177px;
    height: 105px;
    left: 77.77%;
    top: 759px;
  }
  .wordA {
    position: absolute;
    width: 170.31px;
    height: 178.64px;
    left: 133px;
    top: 938.03px;
  }
  .why {
    position: absolute;
    width: 80%;
    height: 96px;
    left: 13%;
    top: 1170px;
    font-size: 5vw;
    font-family: 'Misto';
    color: white;
    text-align: center;
    line-height: 5.5vw;
  }
  .wordб {
    position: absolute;
    width: 129.78px;
    height: 184.89px;
    left: 85.2%;
    top: 1203px;
  }
  .wordж {
    position: absolute;
    width: 166px;
    height: 142px;
    left: 74.59%;
    top: 1330.3px;
  }
  .Arrow2 {
    position: absolute;
    width: 40px;
    height: 55px;
    left: 51%;
    top: 1350px;
  }
  .wordY {
    position: absolute;
    width: 253.74px;
    height: 141.12px;
    left: 124px;
    top: 1453.89px;
  }
  .wordW2 {
    position: absolute;
    width: 120.44px;
    height: 93.46px;
    left: 375px;
    top: 1470px;
    transform: rotate(21.97deg);
  }
  .line {
    position: absolute;
    width: 95%;
    height: 0px;
    margin-left: 53px;
    top: 1806px;
    border: 1.1px solid #FFFFFF;
  }
  .money {
    position: absolute;
    width: 441px;
    height: 148px;
    left: 66px;
    top: 1833px;
    font-family: 'Conv_10710';
    font-size: 3.47vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .pic1 {
    position: absolute;
    width: 273px;
    height: 386px;
    left: 38.9%;
    top: 1838px;
  }
  .moneytext {
    position: absolute;
    width: 360px;
    height: 130px;
    left: 70.65%;
    top: 1838px;
    font-family: 'Conv_10710';
    font-size: 2vw;
    line-height: 27px;
    color: #FFFFFF;
  }
  .line2 {
    position: absolute;
    width: 95%;
    height: 0px;
    margin-left: 53px;
    top: 2255px;
    border: 1.1px solid #FFFFFF;
  }
  .popular {
    position: absolute;
    width: 441px;
    height: 148px;
    left: 68px;
    top: 2281px;
    font-family: 'Conv_10710';
    font-size: 3.47vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .populartext {
    position: absolute;
    width: 340px;
    height: 157px;
    left: 38.9%;
    top: 2292px;
    font-family: 'Conv_10710';
    font-size: 2vw;
    line-height: 27px;
    color: #FFFFFF;
  }
  .pic2 {
    position: absolute;
    width: 274px;
    height: 386px;
    left: 70%;
    top: 2284px;
  }
  .line3 {
    position: absolute;
    width: 95%;
    height: 0px;
    margin-left: 53px;
    top: 2701px;
    border: 1.1px solid #FFFFFF;
  }
  .expert {
    position: absolute;
    width: 441px;
    height: 148px;
    left: 68px;
    top: 2730px;
    font-family: 'Conv_10710';
    font-size: 3.47vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .pic3 {
    position: absolute;
    width: 273px;
    height: 386px;
    left: 38.9%;
    top: 2734px;
  }
  .experttext {
    position: absolute;
    width: 360px;
    height: 157px;
    left: 70.65%;
    top: 2736px;
    font-family: 'Conv_10710';
    font-size: 2vw;
    line-height: 27px;
    color: #FFFFFF;
  }
  .line4 {
    position: absolute;
    width: 95%;
    height: 0px;
    margin-left: 53px;
    top: 3151px;
    border: 1.1px solid #FFFFFF;
  }
  .line5 {
    position: absolute;
    width: 0px;
    height: 678px;
    left: 50%;
    top: 3216px;
    border: 1.1px solid #FFFFFF;
  }
  .try {
    position: absolute;
    width: 40%;
    height: 165px;
    left: 66px;
    top: 3384px;
    font-size: 5vw;
    font-family: 'Misto';
    color: white;
    text-align: left;
    line-height: 5.5vw;
  }
  .start {
    position: absolute;
    width: 130px;
    height: 59px;
    left: 66px;
    top: 3538px;
    background: #FFA842;
    border-radius: 161px;
    transition: .5s;
  }
  .starttext {
    position: absolute;
    width: 50px;
    height: 35px;
    left: 30px;
    top: 16px;
    font-family: 'Conv_10710';
    font-size: 24px;
    line-height: 27px;
    color: #090909;
  }
  .start:hover {
    opacity: .2;
    cursor: pointer;
    transition: .1s;
  }
  .telega {
    position: absolute;
    width: 283px;
    height: 59px;
    left: 66px;
    top: 3644px;
    border: 2px solid #FFA842;
    box-sizing: border-box;
    border-radius: 161px;
    transition: .5s;
  }
  .telegatext {
    position: absolute;
    width: 240px;
    height: 35px;
    left: 27px;
    top: 15px;
    font-family: 'Conv_10710';
    font-size: 24px;
    line-height: 27px;
    color: #FFA842;
  }
  .telegav {
    position: absolute;
    width: 35px;
    height: 29px;
    left: 215px;
    top: 13px;
  }
  .telega:hover {
    opacity: .4;
    cursor: pointer;
    transition: .1s;
  }
  .wordAor {
    position: absolute;
    width: 221px;
    height: 233px;
    left: 50.5%;
    top: 3184px;
  }
  .wordб2 {
    position: absolute;
    width: 87px;
    height: 88px;
    left: 66.8%;
    top: 3224px;
  }
  .wordY2 {
    position: absolute;
    width: 150px;
    height: auto;
    left: 63.4%;
    top: 3400px;
  }
  .wordg2 {
    position: absolute;
    width: 154px;
    height: 132px;
    left: 76.75%;
    top: 3215px;
  }
  .wordw3 {
    position: absolute;
    width: 77px;
    height: 60px;
    left: 91.63%;
    top: 3222px;
  }
  .wordщ {
    position: absolute;
    width: 153px;
    height: 155px;
    left: 84.93%;
    top: 3377px;
  }
  .wordg4 {
    position: absolute;
    width: 118px;
    height: 114px;
    left: 52.43%;
    top: 3505px;
  }
  .wordй2 {
    position: absolute;
    width: 95px;
    height: 93px;
    left: 65.61%;
    top: 3526px;
  }
  .wordY3 {
    position: absolute;
    width: 201px;
    height: auto;
    left: 76.91%;
    top: 3497px;
  }
  .wordб3 {
    position: absolute;
    width: 144.79px;
    height: 259.28px;
    left: 50.68%;
    top: 3641.46px;
  }
  .wordж2 {
    position: absolute;
    width: 202px;
    height: auto;
    left: 64.52%;
    top: 3693px;
  }
  .wordgg {
    position: absolute;
    width: 109px;
    height: 112px;
    left: 83.48%;
    top: 3663px;
    z-index: 1;
  }
  .wordbag {
    position: absolute;
    width: 115px;
    height: 113px;
    left: 89.66%;
    top: 3755px;
  }
  .line6 {
    position: absolute;
    width: 91.66%;
    height: 0px;
    margin-left: 53px;
    top: 3962px;
    border: 1.1px solid #FFFFFF;
  }
  .logo2 {
    position: absolute;
    width: 140px;
    height: 75px;
    left: 60px;
    top: 3992px;
  }
  .autor {
    position: absolute;
    width: 303px;
    height: 46px;
    left: 35.27%;
    top: 3989px;
    font-family: 'Conv_10710';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .art {
    position: absolute;
    width: 303px;
    height: 46px;
    left: 66.25%;
    top: 3986px;
    font-family: 'Conv_10710';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .hse {
    position: absolute;
    width: 410px;
    height: 50px;
    left: 35.27%;
    top: 4060px;
    font-family: 'Conv_10710';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .buy {
    position: absolute;
    width: 279px;
    height: 50px;
    left: 60px;
    top: 4134px;
    font-family: 'Conv_10710';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
  }
  input {
    position: absolute;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    background: #090909;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Conv_10710';
    margin: 15px auto;
    padding: 0 10px;
    width: 29.51%;
    height: 49px;
    left: 35.27%;
    top: 4108px;
  }
  .buy2 {
    position: absolute;
    width: 29.51%;
    height: 49px;
    left: 66.25%;
    top: 4122px;
    background: #FFA842;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    font-family: 'Conv_10710';
    transition: .5s;
  }
  .buy2:hover {
    opacity: .4;
    transition: .1s;
  }
  .line7 {
    position: absolute;
    width: 91.66%;
    height: 0px;
    margin-left: 53px;
    top: 4204px;
    border: 1.1px solid #FFFFFF;
  }
  .menu {
    position: absolute;
    width: 123px;
    height: 51px;
    left: 13.19%;
    top: 28px;
    background: #090909;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    z-index: 12;
    transition: .5s;
  }
  .About2 {
    position: absolute;
    left: 17px;
    top: 12px;
    transition: .5s;
  }
  .contact {
    position: absolute;
    left: 17px;
    top: 52px;
    transition: .5s;
  }
  .comand {
    position: absolute;
    left: 17px;
    top: 92px;
    transition: .5s;
  }
  .book {
    position: absolute;
    left: 17px;
    top: 132px;
    transition: .5s;
  }
  .office {
    position: absolute;
    left: 17px;
    top: 172px;
    transition: .5s;
  }
  .hidden {
    opacity: 0;
  }
  .blocker {
    display: none;
  }
  .showmenu {
    height: 221px;
  }
