html {
  background: #090909;
  display: block;
  height: 4000px;
  width: 100%;
}
@font-face {
    font-family: 'Misto';
    src: url('fonts/Misto.eot');
    src: url('fonts/Misto.eot') format('embedded-opentype'),
         url('fonts/Misto.woff2') format('woff2'),
         url('fonts/Misto.woff') format('woff'),
         url('fonts/Misto.ttf') format('truetype'),
         url('fonts/Misto.svg#Misto') format('svg');
}
@font-face {
  font-family: 'Conv_10710';
  src: url('fonts/10710.eot');
  src: local('☺'), url('fonts/10710.woff') format('woff'), url('fonts/10710.ttf') format('truetype'), url('fonts/10710.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  .forbody {
    background: #090909;
    transition: 1s;
    width: 100%;
  }
  /* .picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 4424px;
    background: url(images/example.png);
    opacity: .2;
  } */
  .header {
    position: absolute;
    width: 75%;
    height: 245px;
    left: 14%;
    top: 261px;
    font-size: 14vw;
    font-family: 'Misto';
    color: white;
    text-align: center;
    line-height: 14vw;
  }
  .header2 {
    position: absolute;
    width: 78.5%;
    height: 188px;
    left: 11.9%;
    top: 476px;
    font-size: 5.7vw;
    font-family: 'Conv_10710';
    color: white;
    text-align: center;
    line-height: 6.3vw;
  }
  .fix {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #090909;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  .logo {
    position: absolute;
    width: 61px;
    height: auto;
    left: 20px;
    top: 22px;
    transition: .5s;
  }
  .logo:hover {
    opacity: .4;
    transition: .1s;
    cursor: pointer;
  }
  .burger {
    position: absolute;
    right: 20px;
    top: 26px;
    width: 40.24px;
    height: auto;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .About {
    position: absolute;
    width: 13%;
    height: 20px;
    left: 14.5%;
    top: 41px;
    transition: .5s;
    display: none;
  }
  .About:hover {
    opacity: .4;
    transition: .1s;
  }
  .list {
    position: absolute;
    width: 14.3%;
    height: 27px;
    left: 24.3%;
    top: 41px;
    display: none;
  }
  .found {
    position: absolute;
    width: 12.5%;
    height: 27px;
    left: 38.4%;
    top: 41px;
    transition: .5s;
    display: none;
  }
  .found:hover {
    opacity: .4;
    transition: .1s;
  }
  .skill {
    position: absolute;
    width: 15%;
    height: 27px;
    left: 53%;
    top: 41px;
    transition: .5s;
    display: none;
  }
  .skill:hover {
    opacity: .4;
    transition: .1s;
  }
  .choose {
    position: absolute;
    width: 13%;
    height: 27px;
    left: 70.2%;
    top: 41px;
    transition: .5s;
    display: none;
  }
  .choose:hover {
    opacity: .4;
    transition: .1s;
  }
  .choose2 {
    position: absolute;
    width: 11.9%;
    height: 27px;
    left: 86.5%;
    top: 41px;
    transition: .5s;
    display: none;
  }
  .choose2:hover {
    opacity: .4;
    transition: .1s;
  }
  a {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
    transition: .5s;
  }
  a:hover {
    opacity: .4;
    transition: .1s;
  }
  .wordG {
    position: absolute;
    width: 80px;
    height: auto;
    left: 64.15%;
    top: 122px;
  }
  .wordW {
    position: absolute;
    width: 102px;
    height: 79px;
    left: 51px;
    top: 667px;
  }
  .wordR {
    position: absolute;
    width: 232.73px;
    height: 166.64px;
    left: 90px;
    top: 680px;
    transform: rotate(-19.56deg);
  }
  .Arrow {
    position: absolute;
    width: 40px;
    height: 55px;
    left: 51%;
    top: 817px;
    display: none;
  }
  .wordЙ {
    position: absolute;
    width: 127px;
    height: auto;
    left: 57.77%;
    top: 909px;
  }
  .wordA {
    position: absolute;
    width: 100.31px;
    height: auto;
    left: 43px;
    top: 1038.03px;
  }
  .why {
    position: absolute;
    width: 80%;
    height: 96px;
    left: 12%;
    top: 1220px;
    font-size: 14vw;
    font-family: 'Misto';
    color: white;
    text-align: center;
    line-height: 14vw;
  }
  .wordб {
    position: absolute;
    width: 89.78px;
    height: auto;
    right: 20px;
    top: 1403px;
  }
  .wordж {
    position: absolute;
    width: 86px;
    height: auto;
    right: 90px;
    top: 1540.3px;
  }
  .Arrow2 {
    position: absolute;
    width: 40px;
    height: 55px;
    left: 48%;
    top: 1440px;
  }
  .wordY {
    position: absolute;
    width: 183.74px;
    height: auto;
    left: 30px;
    top: 1663.89px;
  }
  .wordW2 {
    position: absolute;
    width: 120.44px;
    height: 93.46px;
    left: 39%;
    top: 1620px;
    transform: rotate(21.97deg);
    display: none;
  }
  .line {
    position: absolute;
    width: 87.66%;
    height: 0px;
    margin-left: 20px;
    top: 1806px;
    border: 1.1px solid #FFFFFF;
  }
  .money {
    position: absolute;
    width: 80%;
    height: 148px;
    left: 37px;
    top: 1833px;
    font-family: 'Conv_10710';
    font-size: 8.6vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .pic1 {
    position: absolute;
    width: 200px;
    height: auto;
    left: 37px;
    top: 2110px;
  }
  .moneytext {
    position: absolute;
    width: 70%;
    height: 130px;
    left: 37px;
    top: 1975px;
    font-family: 'Conv_10710';
    font-size: 4.3vw;
    line-height: 25px;
    color: #FFFFFF;
  }
  .line2 {
    position: absolute;
    width: 87.66%;
    height: 0px;
    margin-left: 20px;
    top: 2430px;
    border: 1.1px solid #FFFFFF;
  }
  .popular {
    position: absolute;
    width: 80%;
    height: 148px;
    left: 37px;
    top: 2460px;
    font-family: 'Conv_10710';
    font-size: 8.6vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .populartext {
    position: absolute;
    width: 70%;
    height: 157px;
    left: 37px;
    top: 2563px;
    font-family: 'Conv_10710';
    font-size: 4.3vw;
    line-height: 25px;
    color: #FFFFFF;
  }
  .pic2 {
    position: absolute;
    width: 200px;
    height: auto;
    left: 37px;
    top: 2695px;
  }
  .line3 {
    position: absolute;
    width: 87.66%;
    height: 0px;
    margin-left: 20px;
    top: 3000px;
    border: 1.1px solid #FFFFFF;
  }
  .expert {
    position: absolute;
    width: 70%;
    height: 148px;
    left: 37px;
    top: 3035px;
    font-family: 'Conv_10710';
    font-size: 8.6vw;
    line-height: 40px;
    color: #FFFFFF;
  }
  .pic3 {
    position: absolute;
    width: 200px;
    height: auto;
    left: 37px;
    top: 3297px;
  }
  .experttext {
    position: absolute;
    width: 70%;
    height: 157px;
    left: 37px;
    top: 3140px;
    font-family: 'Conv_10710';
    font-size: 4.3vw;
    line-height: 25px;
    color: #FFFFFF;
  }
  .linemodern {
    position: absolute;
    top: 3621px;
    width: 100%;
    height: 10px;
    left: 0px;
  }
  .boxline {
    position: absolute;
    width: 23px;
    height: 10px;
    top: 0px;
    right: 0px;
    background: #090909;
    z-index: 2;
  }
  .boxline2 {
    position: absolute;
    width: 23px;
    height: 10px;
    top: 0px;
    left: 0px;
    background: #090909;
    z-index: 2;
  }
  .line4 {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 1px;
    background: white;
  }
  .line5 {
    position: absolute;
    width: 87.66%;
    height: 0px;
    margin-left: 20px;
    top: 4105px;
    border: 1.1px solid #FFFFFF;
  }
  .try {
    position: absolute;
    width: 90%;
    height: 165px;
    left: 5%;
    top: 3720px;
    font-size: 14vw;
    font-family: 'Misto';
    color: white;
    text-align: center;
    line-height: 14vw;
  }
  .start {
    position: absolute;
    width: 133px;
    height: 56px;
    left: 33%;
    top: 3875px;
    background: #FFA842;
    border-radius: 161px;
    transition: .5s;
  }
  .starttext {
    position: absolute;
    width: 50px;
    height: 35px;
    left: 30px;
    top: 15px;
    font-family: 'Conv_10710';
    font-size: 24px;
    line-height: 27px;
    color: #090909;
  }
  .start:hover {
    opacity: .2;
    cursor: pointer;
    transition: .1s;
  }
  .telega {
    position: absolute;
    width: 276px;
    height: 59px;
    left: 17.5%;
    top: 3980px;
    border: 2px solid #FFA842;
    box-sizing: border-box;
    border-radius: 161px;
    transition: .5s;
  }
  .telegatext {
    position: absolute;
    width: 240px;
    height: 35px;
    left: 27px;
    top: 15px;
    font-family: 'Conv_10710';
    font-size: 24px;
    line-height: 27px;
    color: #FFA842;
  }
  .telegav {
    position: absolute;
    width: 35px;
    height: 25px;
    left: 215px;
    top: 15px;
  }
  .telega:hover {
    opacity: .4;
    cursor: pointer;
    transition: .1s;
  }
  .wordAor {
    position: absolute;
    width: 141px;
    height: auto;
    left: 2%;
    top: 4140px;
  }
  .wordб2 {
    position: absolute;
    width: 57px;
    height: auto;
    left: 34.8%;
    top: 4144px;
  }
  .wordY2 {
    position: absolute;
    width: 113px;
    height: auto;
    left: 36.4%;
    top: 4210px;
  }
  .wordg2 {
    position: absolute;
    width: 22.05%;
    height: auto;
    left: 51.75%;
    top: 4135px;
  }
  .wordw3 {
    position: absolute;
    width: 12.63%;
    height: auto;
    left: 78.63%;
    top: 4142px;
  }
  .wordщ {
    position: absolute;
    width: 21.22%;
    height: auto;
    left: 72%;
    top: 4230px;
  }
  .wordg4 {
    position: absolute;
    width: 17.96%;
    height: auto;
    left: 8.43%;
    top: 4330px;
  }
  .wordй2 {
    position: absolute;
    width: 14.97%;
    height: auto;
    left: 28.61%;
    top: 4340px;
  }
  .wordY3 {
    position: absolute;
    width: 45.7%;
    height: auto;
    left: 46.91%;
    top: 4305px;
  }
  .wordб3 {
    position: absolute;
    width: 21.45%;
    height: auto;
    left: 4.68%;
    top: 4441.46px;
  }
  .wordж2 {
    position: absolute;
    width: 35.41%;
    height: auto;
    left: 26%;
    top: 4440px;
  }
  .wordgg {
    position: absolute;
    width: 16.79%;
    height: auto;
    left: 64.48%;
    top: 4440px;
    z-index: 1;
  }
  .wordbag {
    position: absolute;
    width: 17.57%;
    height: auto;
    left: 75.66%;
    top: 4495px;
  }
  .line6 {
    position: absolute;
    width: 87.66%;
    height: 0px;
    margin-left: 20px;
    top: 4605px;
    border: 1.1px solid #FFFFFF;
  }
  .logo2 {
    position: absolute;
    width: 88px;
    height: auto;
    left: 40%;
    top: 4635px;
  }
  .autor {
    position: absolute;
    width: 303px;
    height: 46px;
    left: 28px;
    top: 4900px;
    font-family: 'Conv_10710';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .art {
    position: absolute;
    width: 203px;
    height: 46px;
    left: 28px;
    top: 4936px;
    font-family: 'Conv_10710';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .hse {
    position: absolute;
    width: 380px;
    height: 50px;
    left: 28px;
    top: 4980px;
    font-family: 'Conv_10710';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .buy {
    position: absolute;
    width: 279px;
    height: 50px;
    left: 24px;
    top: 4710px;
    font-family: 'Conv_10710';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  input {
    position: absolute;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    background: #090909;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Conv_10710';
    margin: 15px auto;
    padding: 0 10px;
    width: 87.66%;
    height: 41px;
    margin-left: 15px;
    top: 4750px;
  }
  .buy2 {
    position: absolute;
    width: 87.66%;
    height: 41px;
    margin-left: 15px;
    top: 4830px;
    background: #FFA842;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    font-family: 'Conv_10710';
    transition: .5s;
  }
  .buy2:hover {
    opacity: .4;
    transition: .1s;
  }
  .line7 {
    position: absolute;
    width: 91.66%;
    height: 0px;
    margin-left: 23px;
    top: 6234px;
    border: 1.1px solid #FFFFFF;
    display: none;
  }
  .menu {
    position: absolute;
    width: 123px;
    height: 51px;
    left: 13.19%;
    top: 28px;
    background: #090909;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    z-index: 12;
    transition: .5s;
  }
  .About2 {
    position: absolute;
    left: 17px;
    top: 12px;
    transition: .5s;
  }
  .contact {
    position: absolute;
    left: 17px;
    top: 52px;
    transition: .5s;
  }
  .comand {
    position: absolute;
    left: 17px;
    top: 92px;
    transition: .5s;
  }
  .book {
    position: absolute;
    left: 17px;
    top: 132px;
    transition: .5s;
  }
  .office {
    position: absolute;
    left: 17px;
    top: 172px;
    transition: .5s;
  }
  .hidden {
    opacity: 0;
  }
  .blocker {
    display: none;
  }
  .showmenu {
    height: 221px;
  }
  .burgermenu {
    position: fixed;
    width: 410px;
    height: 100vh;
    right: -475px;
    top: 0px;
    background: #090909;
    z-index: 10;
    transition: .9s;
  }
  .back {
    position: absolute;
    width: 40px;
    height: auto;
    right: 25px;
    top: 25px;
  }
  .burabout {
    position: absolute;
    width: 92px;
    height: 53px;
    left: 63px;
    top: 103px;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burcontact {
    position: absolute;
    width: 92px;
    height: 53px;
    left: 63px;
    top: 175px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burcomand {
    position: absolute;
    width: 92px;
    height: 53px;
    left: 63px;
    top: 212px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burbook {
    position: absolute;
    width: 92px;
    height: 53px;
    left: 63px;
    top: 248px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burcoffice {
    position: absolute;
    width: 92px;
    height: 53px;
    left: 63px;
    top: 285px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burfound {
    position: absolute;
    width: 215px;
    height: 53px;
    left: 63px;
    top: 361px;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burskill {
    position: absolute;
    width: 281px;
    height: 53px;
    left: 63px;
    top: 437px;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burchoose {
    position: absolute;
    width: 281px;
    height: 53px;
    left: 63px;
    top: 513px;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .burchoose2 {
    position: absolute;
    width: 281px;
    height: 53px;
    left: 63px;
    top: 589px;
    font-size: 36px;
    text-decoration: none;
    font-family: 'Conv_10710';
    color: white;
  }
  .showburger {
    transform: translate(-475px);
  }
  .dark {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: #090909;
    opacity: 0;
    transition: .5s;
  }
  .darkmode {
    opacity: .8;
    transition: .5s;
  }
